<%- include ('../partials/header.ejs') -%>
<h1>Pessoas</h1>
<table>
    <tr>
    <th>Nome</th>
    </tr>
    <% pessoas.map( pessoa => { %>
        <tr>
            <td><%= pessoa.nome %></td>
        </tr>
        <% }) %>
</table>
<%- include ('../partials/footer.ejs') -%>